* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f6ffd4;
}
nav{
    display: flex;
    float: right;
    width: 50%;
    padding: 20px;
    list-style-type: none;
    justify-content: space-between;
    font-size: 25px;

}
.header {
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ff0000;
    color: #f6ffd4;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
}
.header li  {
    max-height: 200px;
}
 main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }
.body-section{
    font-size: 25px;
    width:500px;
    padding: 25px
       
   }
footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }
 @media screen and (max-width:650px)
    {
        header, nav{
          flex-direction: column;
        }
        section {
          padding-right: 0;
        }
        aside {
          width: 100%;
          text-align: center;
        }
      }
      